<!DOCTYPE html>
<html>
<head>
  <title>CMP</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<div class = "headerBar">
  <div class = "logo" > <%= link_to image_tag("cm.png", size: "572x160"), root_path() %> </div>

</div>
<!-- <p class="notice"><%#= notice %></p>
       <p class="alert"><%#= alert %></p> -->
<div class = "navBar" >
  <span class= "navButtons"><%= link_to "Anouncements", posts_path() %></span>
  <span class= "navButtons"><%= link_to "Donate", donations_path() %></span>
  <span class= "navButtons"><%= link_to "Events/Calander", events_path() %></span>
</div>
<body>
  <div class="center_content">
    <%= yield %>
  </div>
</body>
<br>
<footer class="center_content" >
  <hr class="flaired_edge">
  <p style="position:relative;bottom: 1px;">If you would like to advertise on this site, please email me at whyenbe@gmail.com</p>
</footer>
</html>
